@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roobert Mono';
  src: url('/fonts/RoobertTRIAL/RoobertMonoTRIAL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert Mono';
  src: url('/fonts/RoobertTRIAL/RoobertMonoTRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roobert Mono', monospace;
  background-color: #fffff;
  color: #000000;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
